
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>借阅超时图表</title>
    <meta http-equiv="X-UA-Compatible" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="renderer" content="webkit">

    <script type="text/javascript" src="~/Scripts/layuiadmin/layui/layui.js"></script>
    <script type="text/javascript" src="~/Scripts/echarts.js"></script>
    <link rel="stylesheet" media="all" href="~/Scripts/layuiadmin/layui/css/layui.css" />
    <link rel="stylesheet" media="all" href="~/Scripts/layuiadmin/style/admin.css" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">月图表</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md3">
                                <input type="text" name="yearMonth" id="yearMonth" autocomplete="off" class="layui-input" placeholder="yyyy-MM">
                            </div>
                            <div class="layui-col-md3">
                                <button class="layui-btn" id="btn-Search-YearMonth"><i class="layui-icon layui-icon-search"></i></button>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6">
                                <div id="charts-YearMonth" name="charts-YearMonth" style="width: 100%;height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">日图表</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md3">
                                <input type="text" name="today" id="today" autocomplete="off" class="layui-input" placeholder="yyyy-MM-dd">
                            </div>
                            <div class="layui-col-md3">
                                <button class="layui-btn" id="btn-Search-Day"><i class="layui-icon layui-icon-search"></i></button>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6">
                                <div id="charts-Day" name="charts-Day" style="width: 100%;height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        layui.config({
            base: '../../Scripts/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'laydate'], function () {
            var $ = layui.$
                , layer = layui.layer
                , laydate = layui.laydate;

            laydate.render({
                elem: '#yearMonth'
                , type: 'month'
            });

            laydate.render({
                elem: '#today'
            });

            //按钮组事件监听
            $('#btn-Search-YearMonth').click(function () {
                showYearMonthCharts();
                return false;
            });


            //按钮组事件监听
            $('#btn-Search-Day').click(function () {
                showDayCharts();
                return false;
            });

            showYearMonthCharts();
            showDayCharts();

            function showYearMonthCharts() {
                $.ajax({
                    url: '/Report/GetByYearMonth',
                    type: 'post',
                    contentType: 'application/json',
                    dataType: "json",
                    data: JSON.stringify({
                        yearMonth: $('#yearMonth').val(),
                    }),
                    success: function (result) {
                        //console.log(result);
                        if (result.msg == '') {
                            console.log(result);
                            var repData = formatData(result);
                            initYearMonthCharts(repData);
                        }
                        else {
                            layer.msg('获取数据失败! ' + result.msg, { time: 1000, shade: '0.3', shadeClose: false });
                        }
                    },
                    error: function (result) {
                        layer.msg('服务接口请求失败!', { time: 1000, shade: '0.3', shadeClose: false });
                    }
                });
            }


            function showDayCharts() {
                $.ajax({
                    url: '/Report/GetByDay',
                    type: 'post',
                    contentType: 'application/json',
                    dataType: "json",
                    data: JSON.stringify({
                        day: $('#today').val(),
                    }),
                    success: function (result) {
                        //console.log(result);
                        if (result.msg == '') {
                            console.log(result);
                            var repData = formatData(result);
                            initDayCharts(repData);
                        }
                        else {
                            layer.msg('获取数据失败! ' + result.msg, { time: 1000, shade: '0.3', shadeClose: false });
                        }
                    },
                    error: function (result) {
                        layer.msg('服务接口请求失败!', { time: 1000, shade: '0.3', shadeClose: false });
                    }
                });
            }
        });
    </script>

    <script type="text/javascript">
        function formatData(result) {
            var legendData = [];
            var seriesData = [];
            for (var i = 0; i < result.data.length; i++) {
                var item = result.data[i];
                var name = item.OrgName + " - " + item.Borrower;
                legendData.push(name);
                seriesData.push({
                    name: name,
                    value: item.Total
                });
            }

            return {
                legendData: legendData,
                seriesData: seriesData,
            };
        }

        function initYearMonthCharts(data) {
            option = {
                title: {
                    text: '月度借阅超时',
                    subtext: '',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 20,
                    bottom: 20,
                    data: data.legendData
                },
                series: [
                    {
                        name: '人员',
                        type: 'pie',
                        radius: '55%',
                        center: ['40%', '50%'],
                        data: data.seriesData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            var test = echarts.init(document.getElementById('charts-YearMonth'));
            test.setOption(option);
        }

        function initDayCharts(data) {
            option = {
                title: {
                    text: '日借阅超时',
                    subtext: '',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 20,
                    bottom: 20,
                    data: data.legendData
                },
                series: [
                    {
                        name: '人员',
                        type: 'pie',
                        radius: '55%',
                        center: ['40%', '50%'],
                        data: data.seriesData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            var test = echarts.init(document.getElementById('charts-Day'));
            test.setOption(option);
        }
    </script>

</body>
</html>
