
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>借阅超期列表</title>
    <meta http-equiv="X-UA-Compatible" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="renderer" content="webkit">

    <script type="text/javascript" src="~/Scripts/layuiadmin/layui/layui.js"></script>
    <link rel="stylesheet" media="all" href="~/Scripts/layuiadmin/layui/css/layui.css" />
    <link rel="stylesheet" media="all" href="~/Scripts/layuiadmin/style/admin.css" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" lay-filter="component-form-group" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="OrgId" id="OrgId" lay-filter="UserOrgFilter" lay-search=""></select>
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn" id="btn-Search"><i class="layui-icon layui-icon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="layui-form-item">
                    <table class="layui-table layui-form" id="ArchiveInfo" lay-filter="ArchiveInfo" lay-size="sm"></table>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.config({
            base: '../../Scripts/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'form', 'laydate'], function () {
            var $ = layui.$
                , form = layui.form
                , layer = layui.layer
                , table = layui.table;

            form.render(null, 'component-form-group');


            //机构下拉框绑定
            var orgloadingIndex = layer.load(2);
            $.ajax({
                url: '/OrgInfo/GetOrgInfoListByUser',
                type: 'get',
                contentType: 'application/json',
                dataType: "json",
                success: function (result) {
                    //往下拉菜单里添加元素
                    //layer.alert(JSON.stringify(result));
                    $.each(result, function (index, item) {
                        $('#OrgId').append(new Option(item.Name, item.Id));
                    });
                    form.render('select');
                    form.val('component-form-group', { 'OrgId': '@Model.OrgId' });
                    layer.close(orgloadingIndex);
                },
                error: function (result) {
                    //console.log(result);
                    top.layer.msg('服务接口请求失败!', { time: 1000, shade: '0.3', shadeClose: false }, function () {
                        parent.layer.close(index);
                    });
                }
            });

            var tabIns = table.render({
                elem: '#ArchiveInfo'
                , url: '/Report/GetBorrowTimeOut'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度
                , title: '押品档案'
                , cols: [[
                    { type: 'numbers' }
                    , { field: 'OrgName', title: '机构名称' }
                    , { field: 'OrgCode', title: '机构代码', width: 100}
                    , { field: 'QuotaNo', title: '额度号' }
                    , { field: 'LoanAccount', title: '贷款账号' }
                    , { field: 'GuaranteeType', title: '押品类型' }
                    , { field: 'LoanBorrower', title: '借款人' }
                    , { field: 'CustomerNo', title: '客户号' }
                    , { field: 'Borrower', title: '借阅人' }
                    , { field: 'UsedBy', title: '借阅用途' }
                    , { field: 'BorrowDateString', title: '借阅时间' }
                    , { field: 'PreReturnDateString', title: '预归还时间' }
                    , { field: 'Total', title: '合计' }
                ]]
                , page: false
                , method: 'post'
                , even: true
                , loading: true
                , where: {
                    orgId: '@Model.OrgId'
                }
            });

            $('#btn-Search').click(function () {
                table.reload('ArchiveInfo', {
                    where: {
                        orgId: $('#OrgId').val()
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
